html {
  font-size: 19px;
}
body {
  background-color: #7d4ba7;
  color: rgb(235, 230, 247);
}

a {
  color: rgb(214, 214, 223);
}
a:visited {
  color: rgb(226, 237, 238);
}
a:hover,
a:active {
  color: #162727;
}
table,
tr,
th,
td,
caption {
  border: 1px solid #edf7f4;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
